@model Product
<div class="col-md-4 my-4">
    <div class="card" style="width: 18rem">
        <img src="@Model?.ImageUrl" class="card-img-top"/> 
        <hr/>
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, nulla.</p>
            <p class="card-text">$@Model.Price</p>
            <div class="btn-group">
                <form method="post" asp-page="/cart">
                    <input type="hidden" asp-for="Id" >
                    <button class="btn btn-outline-primary" type="submit" >
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </form>

                <a class="btn btn-primary" asp-action="Get" asp-route-id="@Model.Id">GetDetail <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
