@model Product
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1>
                @Model.ProductName
            </h1>
            <img class="img-fluid rounded shadow" width="400px" src="@Model.ImageUrl" alt="@Model.ProductName">
            <p class="lead text-danger">@Model.Price</p>
            <div class="btn-group">
                <a asp-action="Index" class="btn btn-primary"> <i class="fa-solid fa-list"></i> Products</a>
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary"><i class="fa-solid fa-house"></i>Home</a>
            </div>
        </div>
    </div>
</div>