@model List<Category>
<div class="text-center my-3">
    <h3>
        Categories
    </h3>
</div>
<ul class="list-group my-3">
@foreach (var category in @Model)
{
    
    <li class="list-group-item">@category.CategoryName</li>
}
</ul>