<div class="bg-light p-3 border-top">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="text-center">
                    <a asp-action="Index" asp-controller="Home">
                        <i class="fa-solid fa-store fa-3x text-secondary"></i>
                    </a>
                    <p class="text-secondary">Store App</p>
                </div>
            </div>
            <div class="col-8">
                <div class="text-center text-secondary">
                    <p>2023</p>
                    <p>StoreApp ASP.NET Core MVC</p>
                    <div class="btn-group">
                        <a href="#" class="btn btn-secondary">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-secondary">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#" class="btn btn-secondary">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <a href="#" class="btn btn-secondary">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div products="" number="5"></div>
            </div>
        </div>
    </div>
</div>