<div class="text-danger text-center my-5">
    <h2 class="display-1">
        <i class="fa fa-solid fa-bug-slash"></i>
        Access Denied!
    </h2>
</div>

<div class="text-center">
    <div class="lead">
        You have not permission to access this page.
    </div>
    <div class="btn-group my-3 ">
        <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Home">Home</a>
    </div>
</div>