@model ResetPasswordDto

<div class="text-center my-3">
    <h2>
        Reset Password(@Model.UserName)
    </h2>
</div>


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post" asp-action="ResetPassword">
            <div class="text-danger" asp-validation-summary="All"></div>
            <input type="hidden" asp-for="UserName"/>
            <div class="form-group my-3">
                <label asp-for="Password"></label>
                <input type="password" class="form-control" asp-for="Password">
            </div>
            <div class="form-group my-3">
                <label asp-for="ConfirmPassword"></label>
                <input type="password" class="form-control" asp-for="ConfirmPassword">
            </div>
            <div class="form-group my-3">
                <div class="btn-group d-flex justify-content-end">
                    <button class="btn btn-primary">Save</button>
                    <a href="" class="btn btn-outline-primary">
                        <i class="fa fa-arrow-left"></i>
                        Back
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>