@model List<Category>
<div>
    <h6 class="text-secondary">
    <i class="fa fa-list"></i>
    Category    
    </h6>
</div>
<div class="text-center my-4">
    <ul class="list-group">
        @foreach (var category in Model)
        {
            <li class="list-group-item">
                <a  asp-action="Index" asp-route-categoryId="@category?.Id">
                    @category.CategoryName (@await Component.InvokeAsync("CategoriesSummary", category.Id))
                </a>
            </li>
        }
        <li class="list-group-item">
            <a asp-action="Index" asp-route-categoryId="">
                All(@Model.Count)
            </a>
        </li>
        
    </ul>
</div>